{% extends "base.twig" %}
{% block content %}
    <form action="#" method="post">


        <div class="row"> {{ form_errors(form.first_name) }}</div>
        <div class="form-group row" >

            <div class="col-md-3">{{ form_label(form.first_name) }}</div>
             <div class="col-md-9">{{ form_widget(form.first_name) }}</div>
        </div>


        <div class="row">{{ form_errors(form.last_name) }}</div>
        <div class="form-group row" >
            <div class="col-md-3"> {{ form_label(form.last_name) }}</div>
            <div class="col-md-9"> {{ form_widget(form.last_name) }}</div>
        </div>

        <div class="row">{{ form_errors(form.gender) }}</div>
        <div class="form-group row" >
            <div class="col-md-3">{{ form_label(form.gender) }}</div>
            <div class="col-md-9">{{ form_widget(form.gender) }}</div>
        </div>


        <div class="row">{{ form_errors(form.birth_date) }}</div>
        <div class="form-group row" >
            <div class="col-md-3">  {{ form_label(form.birth_date) }}</div>
            <div class="col-md-9"> {{ form_widget(form.birth_date) }}</div>
        </div>


        <div class="row">{{ form_errors(form.email) }}</div>
        <div class="form-group row" >
            <div class="col-md-3">{{ form_label(form.email) }}</div>
            <div class="col-md-9">{{ form_widget(form.email) }}</div>
        </div>

        {{ form_widget(form) }}
            <input type="submit" name="submit" class="form-control" />
    </form>


    <script type="text/javascript">
        $('input[type="date"]').attr('type','text');
        jQuery('#form_birth_date').datetimepicker({
            timepicker:false,
            datepicker: true,
            format:'Y-m-d'
        });
    </script>

{% endblock %}