<table border="1">
    <tr>
        <th> Last Name</th>
        <th> First Name</th>
        <th> Gender</th>
        <th> Birth date</th>
        <th>Email</th>
    </tr>

    {% for student in data  %}
        <tr>
            <td> {{ student.firstName }}</td>
            <td> {{ student.lastName}}</td>
            <td> {{ student.Gender }}</td>
            <td> {{ student.birthDate}}</td>
            <td> {{ student.Email }}</td>
        </tr>
    {% endfor %}

</table>