<table width="80%" border="1" cellpadding="0" cellspacing="0" align="center">
    <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Gender</th>
        <th>Birth Date</th>
        <th>E-mail</th>
    </tr>

        {% for student in data %}
            <tr>
                <td>{{ student.firstName }}</td>
                <td>{{ student.lastName }}</td>
                <td>{{ student.gender }}</td>
                <td>{{ student.birthDate }}</td>
                <td>{{ student.email }}</td>
            </tr>
        {% endfor %}



</table>